.sidebarContainer {
    width: 100%;
    height: 100%;
    padding: 0 .5rem;

    overflow: hidden;

    grid-area: sidebar;
    font-size: 1.1rem;

    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);

    background: var(--secondary-background);

    display: grid;
    grid-template-rows: 4rem 1fr auto;
    gap: 0;
    grid-template-areas:
        "toggle"
        "top"
        "bottom";
}

.sidebarContainer > .toggleButton {
    grid-area: toggle;

    display: flex;
    align-items: center;
}

.sidebarContainer > .top {
    width: 100%;
    grid-area: top;
    overflow: hidden;
}

.sidebarContainer > .bottom {
    grid-area: bottom;
}

.sidebarContainer > div > a,
.sidebarContainer > div > .button {
    width: 100%;
    height: 2.5rem;
    padding: .2rem;
    font-size: 1.3rem;

    overflow: hidden;

    cursor: pointer;

    background: none;

    border: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .2rem;
}

.sidebarContainer.open a:hover {
    /*background: var(--primary);*/
}

.sidebarContainer > div > a > .icon,
.sidebarContainer > div > .button > .icon {
    flex-shrink: 0;

    aspect-ratio: 1;
    height: 2rem;
}

.sidebarContainer > div > a > p,
.sidebarContainer > div > .button > p {
    white-space: nowrap;

    width: 100%;
    overflow: hidden;
}

.sidebarContainer.open > div > a > p,
.sidebarContainer.open > div > .button > p {
    /*text-overflow: ellipsis;*/
}